html {
    height: 100%;
}
body {
    background-image:url(imagini/bck3.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#header {
    /* display: flex; */
    /* justify-content: center; */
    margin-top: 2%;
}
#citySearch {
    text-align: center;
    margin-right: 1%;
    width: 30%;
    margin: 0 auto;
}
#citySearch input {
    width: 45%;
    height: 31px;
    border: 3.2px solid black;
    border-radius: 25px;
    margin-right: 1%;
    background-color: rgba(0, 0, 0, 0.171);
    color: white;
}
#citySearch button {
    height: 30px;
}
#citySearch h2 {
    font-size: 350%;
    text-shadow: 6px 3px 4px black;
}
#currentWeather {
    display: none;
    /* width: 23%; */
    margin-top: -3%;
    font-size: 170%;
    text-shadow: 3px 2px 3px black;
    padding: 1% 2%;
    color: rgb(255, 255, 255);
}
#temp {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 90px;
    /* padding-top: 5%; */
    height: 48%;
}
#specs {
    width: 73%;
    background-color: rgba(0, 0, 0, 0.404);
    backdrop-filter: blur(11px);
    border-radius: 12px;
    box-shadow: 5px 5px 7px black;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    /* border: 2px solid black; */
    margin-top: 3%;
}
#currentWeather p {
    margin:0.5% 0;
    padding-left: 2%;
}
#map {
    margin-top: 0%;
    /* padding-left: 2%; */
    /* width: 30%; */
    display: none;
    justify-content: center;
}
iframe {
    border: 2px solid black;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}
#weatherForecast {
    /* bottom: 0;  */
    height: 130%;
    /* background-color: aquamarine; */
    width: 100%;
    display: none;
    /* flex-direction: row; */
    /* justify-content: space-between; */
    /* padding-bottom: 2%; */
}
#firstDay {
    
    border: 2px solid white;
}
.dayForecast {
    background-color: black;
    width: 65%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.404);
    backdrop-filter: blur(11px);
    border-radius: 18px;
    box-shadow: 5px 5px 7px black;
    font-size: 17px;
    text-shadow: 2px 1px 3px black;
    border: 2px solid black;
    padding-bottom: 13%;
    padding-top: 13%;
    margin-bottom: 4%;
}
.dayForecast p {
    width: 100%;
    margin-top: 10%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
}
#seeForecastButton {
    display: none;
    justify-content: space-around;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 3%;
}
#seeForecast {
    background-color: rgba(0, 0, 0, 0.404);
    backdrop-filter: blur(11px);
    font-size: 17px;
    color: white;
}
.buttons {
    background-color: rgba(0, 0, 0, 0.171);
    color: white;
    border: 3.2px solid black;
    border-radius: 25px;
}
.buttons:hover {
    border: 3.2px solid white;
    cursor: pointer;
}
#cityNameContent {
    display: none; 
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#findCity {
    width: 100%;
    font-size: 30px;
    text-shadow: 4px 3px 4px black;
}
#weatherIconImg {
    width: 20%;
} 
#tempScale {
    border-radius: 25px;
    border: 3px solid black;
    background-color: rgba(0, 0, 0, 0.171);
    color: white;
    font-size: 100%;
}
#tempScale option {
    color: rgba(0, 0, 0, 0.774);
    background-color: rgba(0, 0, 0, 0.171);
}
#findLocationWeather {
    border-radius: 25px;
    border: 3px solid black;
    background-color: rgba(0, 0, 0, 0.171);
    color: white;
    display: block;
    margin: 0 auto;
}
#findLocationWeather:hover, #tempScale:hover {
    border: 3.2px solid white;
    cursor: pointer;
}
#city {
    margin-bottom: 3%;
}
.hourButtons {
    border-radius: 50%;
    border: 2px solid black;
    color: black;
    background-color: rgba(255, 255, 255, 0.685);
}
.hourButtons:hover {
    background-color: black;
    color: white;
}